@import "../variables.scss";

.accommodation {
    display: grid;
    gap: $spacing-medium;
    align-items: start;
    grid-auto-rows: min-content;

    // Summary
    &__summary {
        display: flex;
        gap: $spacing-small;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: $breakpoint-medium) {
            flex-direction: row;
        }
    }

    &__infos {
        display: flex;
        gap: $spacing-small;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        @media (min-width: $breakpoint-medium) {
            flex-direction: column-reverse;
            align-items: end;
        }
    }

    &__title,
    &__location {
        margin: 0;
    }

    &__title {
        margin-block-end: $spacing-small;
        font-size: clamp(1.125rem, 5vw, 2.25rem);
        font-weight: 500;
        line-height: 1.1;
    }

    &__location {
        font-size: clamp(0.875rem, 10vw, 1.125rem);
        line-height: 1.2;
        color: $color-neutral-900;
        margin-block-end: $spacing-medium;
    }

    &__tags {
        width: max-content;
    }

    &__details {
        display: flex;
        gap: $spacing-medium;
        flex-direction: column;
        align-items: start;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    .banner__image {
        width: 100%;
        aspect-ratio: 1240 / 415;
        object-fit: cover;
        border-radius: $radius-large;
    }
}
