@import "../variables.scss";

.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-large;
    height: 100%;

    img {
        width: min(100%, 36rem);
    }
}
