@import "../variables.scss";

:root {
    --accordion-padding: 0.625rem;
    --accordion-title-size: 0.812rem;
    --accordion-content-size: 0.875rem;
    --accordion-icon-size: 1.5em;
    --accordion-background-color: #{$color-neutral-100};
    --accordion-border-radius: #{$radius-small};
    --accordion-title-background-color: #{$color-primary};
    --accordion-title-color: #{$color-neutral-0};
    --accordion-title-weight: 700;
    @media (min-width: $breakpoint-medium) {
        --accordion-padding: 0.875rem 1rem;
        --accordion-title-size: 1.125rem;
        --accordion-content-size: 1rem;
    }
}

.accordion {
    background-color: var(--accordion-background-color);
    border-radius: var(--accordion-border-radius);
    overflow: hidden;
    width: 100%;

    // Styles communs pour le titre et le contenu
    &__title,
    &__content {
        padding: var(--accordion-padding);
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--accordion-title-background-color);
        color: var(--accordion-title-color);
        font-size: var(--accordion-title-size);
        font-weight: var(--accordion-title-weight);
        cursor: pointer;

        // Styles pour l'icône de flèche
        &::after {
            content: "";
            height: var(--accordion-icon-size);
            width: var(--accordion-icon-size);
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'><path fill='white' d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7L86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/></svg>");
            background-size: contain;
            background-position: center;
            transition: transform 0.3s;
        }
    }

    &__content {
        font-size: var(--accordion-content-size);

        p:first-of-type {
            margin-block-start: 0;
        }
    }

    // Styles pour l'icône de flèche lorsque l'accordéon est ouvert
    &[open] {
        .accordion__title::after {
            transform: scale3d(1, -1, 1);
        }
    }
}
