@import "../variables.scss";

:root {
    --avatar-size: 2rem; // Small avatar size by default
    --avatar-spacing: #{$spacing-small}; // Small avatar spacing by default
    --avatar-font-size: clamp(0.875rem, 2vw, 1.125rem);
    --avatar-color-text: #{$color-primary};

    @media (min-width: $breakpoint-medium) {
        --avatar-size: 4rem; // Large avatar size for larger screens
        --avatar-spacing: #{$spacing-small}; // Large avatar spacing for larger screens
    }
}

// Styles for the Person component
.person {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    gap: var(--avatar-spacing);
    margin: 0;
    color: var(--avatar-color-text);

    // Styles for the name inside the Person component
    &__name {
        flex: 0;
        text-align: end;
        font-size: var(--avatar-font-size);
        font-weight: 500;
        line-height: 1.1;
    }

    &__avatar {
        width: var(--avatar-size);
        height: var(--avatar-size);
        border-radius: 50%;
        object-fit: cover;
    }
}
