// Variables
$color-primary: #ff6060;
$color-neutral-900: #000;
$color-neutral-100: #f6f6f6;
$color-neutral-0: #fff;

// Radius
$radius-small: 0.625rem;
$radius-large: 1.567rem;
$radius-full: 100vmax;

// Spacings
$spacing-tiny: 0.325rem;
$spacing-small: 0.625rem;
$spacing-medium: 1.375rem;
$spacing-large: 2.5rem;

// Font
$font-primary: "Montserrat", sans-serif;
$font-size-base: 1.125rem;

// Breakpoints
$breakpoint-small: 30rem;
$breakpoint-medium: 48rem;
$breakpoint-large: 64rem;
