// Variables
$color-primary: #ff6060;
$color-neutral-900: #000;
$color-neutral-100: #f6f6f6;
$color-neutral-0: #fff;

// Radius
$radius-small: 0.625rem;
$radius-large: 1.567rem;

// Spacings
$spacing-small: 0.625rem;
$spacing-medium: 1.375rem;
$spacing-large: 2.5rem;
