@import "./variables";
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    padding: 0;
    margin: 0;
}
body > div {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding-block-start: 2.375rem;
    gap: 2.375rem;

    min-height: calc(100vh - 2.375rem);
    min-height: calc(100svh - 2.375rem);
}

h1 {
    font-size: clamp(1.125rem, 5vw, 2.25rem);
    line-height: 1.1;
    color: $color-primary;
}

ul[class] {
    list-style: none;
    padding: 0;
}

a[class] {
    text-decoration: none;
    color: inherit;
}

img,
svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}

.container {
    width: min(calc(100% - 2.5rem), 1240px);
    margin-inline: auto;
}

// Screen reader only
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
